<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>First Node Project</title>
    <%- include("../partials/head") %>
  </head>

  <body>
    <!-- HEADER -->
    <%- include("../partials/navbar") %>

      <!-- MAIN CONTENT -->

      <div class="container">
        <header class="row">
          <div class="col-lg-12 text-center">
            <img src="/img/pews-logo.png" class="w-auto animated bounceIn" alt="Website Logo" />
          </div>
        </header>
      </div>

      <!-- section one -->
      <div class="container-fluid" id="about">
        <h1>ABOUT ME</h1>
        <H2>ABOUT YOU AND YOU INCREDIBLE TALENT!</H2>
      </div>

      <!-- FOOTER -->
      <%- include("../partials/footer") %>
  </body>

</html>