<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Document</title>
    <%- include("../partials/head") %>
  </head>

  <body class="post donations">
    <%- include("../partials/navbar") %>
      <h1>THIS PAGE HASN'T BEEN CREATED YET</h1>
      <h2>PROBABLY WILL NEVER BE LMAO</h2>
      <%- include("../partials/footer") %>
  </body>

</html>