<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="../../public/css/main.css" type="text/css">
    <title>
      <%= title %>
    </title>
    <%- include("partials/head") %>
  </head>

  <body class="body">
    <%- include("partials/navbar") %>
      <main class="post">
        <h1 class="title main">INDEX</h1>
        <section class="grid">

          <!-- post 1 -->
          <article class="grid--item">
            <a href="/hamburger-menu-ux">
              <img src="/img/post2.webp" alt="some screenshot">
              <p>Hamburger Menu</p>
            </a>
          </article>

          <!-- post 2 -->
          <article class="grid--item">
            <a href="/react-router6-template">
              <img src="/img/post1.webp" alt="some screenshot">
              <p>React router 6</p>
            </a>
          </article>

          <!-- post 3 -->
          <article class="grid--item">
            <a href="first-os-contribution-local">
              <img src="/img/post3-1.png" alt="some screenshot">
              <p>OS tutorial Local</p>
            </a>
          </article>

          <!-- post 4 -->
          <article class="grid--item">
            <a href="first-os-contribution-online">
              <img src="/img/post3-2.png" alt="some screenshot">
              <p>OS tutorial Online</p>
            </a>
          </article>
        </section>
      </main>
      <%- include("partials/footer") %>
  </body>

</html>